__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
ENV/
env/
*.env

.ipynb_checkpoints

.idea/

.vscode/

.DS_Store
Thumbs.db

*.log

data/
*.csv
*.tsv
*.xlsx

*.pt
*.pth
*.h5

__output__/
out/
temp/
*.pdf
